/*reset*/
* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/*structure*/
.structure {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 400px;
    grid-template-areas:
    "header header header"
    "sidenav content aside"
    "footer footer footer";
    margin: 0 auto;
    grid-gap: 30px;
}

/*structure responsive*/
@media (max-width: 1500px) {
    .structure {
        grid-template-areas:
        "header header header"
        "sidenav content content"
        "sidenav aside aside"
        "footer footer footer";
    }
}

@media (max-width: 1000px) {
    .structure {
        grid-template-columns: 100%;
        grid-template-areas:
        "header"
        "sidenav"
        "content"
        "aside"
        "footer";
    }
}


/*header*/
.header {
    grid-area: header;
    padding: 20px 50px;
    background: linear-gradient(135deg, #f04349, #df4761);
    color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header h1 {
    font-size: 3em;
}

.header nav ul {
    display: flex;
}

.header nav li a {
    font-size: 1.2em;
    padding: 10px;
    margin: 15px;
    color: white;
    border-radius: 5px;
    background: rgba(0,0,0,.15);
    transition: all .4s;
}

.header nav li a:hover {
    background: rgba(0,0,0,.45)
}

@media (max-width: 700px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .header nav ul {
        margin: 20px 0;
    }
}

@media (max-width: 370px) {
    .header nav li a {
        margin: 5px;
    }
}



/*sidenav*/
.sidenav {
    grid-area: sidenav;
    padding: 30px;
}

.sidenav li a{
    display: block;
    max-width: 100px;
    min-width: 60px;
    padding: 30px;
    background: antiquewhite;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #a3639ea1;
    margin: 0 auto 20px auto;
    transition: all .4s;
}

.sidenav li a:hover {
    background: #df4761;
}


.sidenav li:last-child {
    margin-bottom: 0;
}

@media (max-width: 1000px) {
    .sidenav {
        padding: 0 20px;    
    }
    
    .sidenav ul {
        display: flex;
    }

    .sidenav ul li {
        flex: 1 0 60px;
    }

    .sidenav li a {
        margin: 30px 30px 30px 0;
    }
}


@media (max-width: 790px) {
    .sidenav {
        position: relative; 
    }

    .sidenav ul {
        overflow-x: auto;
    }


    .sidenav::after {
        content: '→';
        position: absolute;
        top: -15px;
        right: 30px;
        font-size: 2em;
        color: #df4761;
    }
}

/*content*/
.content {
    grid-area: content;
    display: grid;
    max-width: 900px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: 30px;
}

.text-p {
    font-size: 1.5em;
    line-height: 1.4;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.671);
}

.music {
    padding: 30px;
    text-align: center;
    font-family: "Volkorn", Georgia, serif;
    background: #f04349;
    margin: 0 auto;

    font-size: 1.4em;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #a3639ea1;
    font-style: italic;
}

.titulo {
    font-size: 3em;
    color: #df4761;
    border-bottom: 4px solid #df4761;
}

.content span {
    color: #df4761;
}

.images-family {
    display: flex;
}

.images-family img + img{
    flex: 1;
    margin-left: 40px;
}

.noel-origin h1 {
    font-size: 3em;
    color: #df4761;
    border-bottom: 4px solid #df4761;
    margin-bottom: 30px;
}


.about-christmas p {
    margin-bottom: 40px;
}

.christmas-tree {
    grid-template-rows: span 2;
}

.wide {
    grid-column: 1 / -1;
}

@media (max-width: 1500px) {
    .christmas-tree {
        height: 500px;
    }
}


@media (max-width: 770px) {
    .christmas-tree, .about-christmas, .images-family, .noel-origin {
        grid-column: 1 / -1;
        margin: 0 auto;
    }

    .images-family {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .images-family img + img{
        flex: 0;
        margin: 0px;
    }

}   


/*aside*/
.aside {
    grid-area: aside;
    display: grid;
    align-content: start;
}

.aside .about-us legend, .newsletter legend {
    position: relative;
    bottom: 40px;
    padding: 15px;
    text-align: center;
    background: antiquewhite;
    box-shadow:  3px 3px 5px #a3639ea1;
    border-radius: 0px 0px 5px 5px;
    transition: all .4s;
    cursor: pointer;
}

.aside img:hover ~ legend {
    background: #df4761;
    color: white;
}

.aside legend:hover {
    background: #df4761;
    color: white;
}

.aside div {
    margin: 0 30px 0px auto;
}

@media (max-width: 1500px) {
    .aside {
        display: flex;
    }

    .aside div {
        margin: 0 auto;
    }
}

@media (max-width: 770px) {
    .aside {
        flex-direction: column;
    }
}


/*footer*/
.footer {
    grid-area: footer;
    padding: 30px;
    background: linear-gradient(135deg, #f04349, #df4761);
}

.footer p {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: white;
}